<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=" .NETFramwork, Version = v4.7.2" />
  </startup>
  <appSettings>
    <add key="secret_key" value="F1jn2MM28eqsfWETT23jf0qfdasj0HJAWP23rmasWASLDAldqRWEGF34832ur23" />
    <add key="sessiontimeout" value="1200.0" />
  </appSettings>
</configuration>