<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku =" .NETFramwork, Version = v4.7.2"/>
  </startup>
  <appSettings>
    <add key ="connectionString" value ="f" />
    <add key ="gatherUserStringVariables" value ="Select FirstName, LastName, Gender, AccountStatus from Users where UserEmail = email"/>
    <add key ="gatherUserDate" value ="Select DateOfBirth from Users where UserEmail = email"/>
    <add key ="updateUser" value ="Update Users Set FirstName = {0}, LastName = {1}, Gender = {2}, AccountStatus = {3} where UserEmail = email"/>  
</appSettings>
</configuration>