<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku =" .NETFramwork, Version = v4.7.2"/>
  </startup>
  <appSettings>
    <add key ="nameLength" value ="200"/>
    <add key ="passwordLength" value ="2000"/>
    <add key ="passwordMinLength" value ="12"/>
    <add key ="emailLength" value ="200"/>
    <add key ="emailLength" value ="200"/>
    <add key = "passwordListName" value = "passwordCheckList.txt"/>
    <add key ="repetitiveRange" value ="4"/>
    <add key ="messageNameEmpty" value ="Your name cannot be empty!"/>
    <add key ="messagePass" value ="Check Pass!"/>
    <add key ="passwordRepetitive" value ="Password contains repetitive contents: "/>
    <add key ="passwordSequential" value ="Password contains sequential contents: "/>
    <add key ="passwordCommon" value ="Your password contains common used  content: "/>
    <add key ="passwordUserName" value ="Your password cannot contain ur username!"/>
    <add key ="ageNotPass" value ="You must be older than 18 to use this app!"/>
    <add key ="ageRequired" value ="18"/>
    <add key ="passwordNotMatch" value ="Reentered password is not matched!"/>
    <add key ="success" value ="Success!"/>
    <add key ="retryimit" value ="3"/>
  </appSettings>
</configuration>